

 .inputtext {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#mytable,td{
  border:1px solid blue;
}



input[type=submit]:hover {
  background-color: #45a049;
}

.alert {
  padding: 20px;
  background-color: #246606;
  color: white;
}



div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.main_container
{

width:600px;
top: 50%;
left: 50%;
/* bring your own prefixes */
transform: translate(-50%, -50%);
}
.btn-danger
{
  width: 100%;
  background-color: #ff5511;
  color: white;
 
  margin: 2px 0;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}
.row{
  grid-row: 1 / span 2;
}
.btn-primary
{
  width: 100%;
  background-color: #698bd4;
  color: white;

  margin: 2px 0;
  border: none;
  border-radius: 1px;
  cursor: pointer;
}

.common-btn{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resbox{
  position: fixed; /* or absolute */
  top: 50%;
  left: 80%;
  background-color: #45647e;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.res1{
  position: absolute; /* or absolute */
  top: 50%;
  left: 80%;
  background-color: #40acc7;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.vl {
  border-left: 6px solid rgb(0, 2, 128);
  height: 500px;
}


